.logo {
    text-align: center; /* Centraliza a logo */
    padding: 0px; /* Adiciona algum espaço ao redor da logo, se necessário */
}

.logo img {
    width: 8px; /* Largura desejada em pixels */
    height: auto; /* Mantém a proporção da altura */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Faz com que o corpo ocupe toda a altura da tela */
}

header {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.table-container {
    overflow-x: auto;
    margin-top: 100px; /* Ajuste a margem conforme necessário para evitar sobreposição com o cabeçalho */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    background-color: #008cba;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f6b;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    /* Estilos para dispositivos móveis */
    #musicTable th, #musicTable td {
        padding: 5px;
        font-size: 14px;
    }

    button {
        padding: 3px 6px;
        font-size: 14px;
    }
}
.esconder {
    display: none;
}
